@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=M+PLUS+2:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

*{
    margin: 0px;
    font-family: Noto Sans JP;
}

#nav_main{
    position: fixed;
    top: 0px;
    left: 0px;
    background: #fff;
    height: 64px;
    width: 100%;
    border-bottom: 1px #eee solid;
    z-index: 1000;
}

#nav_main img{
    height: 72px;
    margin-left: 10px;
}

#menu_img{
    height: 24px;
    margin: 15px;
}

#menu_btn{
    display: inline-block;
    width: 54px;
    height: 54px;
    overflow: hidden;
    border-radius: 50%;
    margin: 5px;
    margin-left: 8px;
}

#logo{
    display: inline-block;
    vertical-align: 75%;
}
#logo span{
  font-size: 25px;
  margin-left: 12px;
  color: #333;
  vertical-align: 10%;
}

#logo img{
    height: 42px;
    vertical-align: -32%;
}


#nav_left{
    height: 100vh;
    background: #fff;
    border-right: 1px #eee solid;
    display: inline-block;
    transition: all 0.3s ease;
    position: fixed;

}

#content{
    background-color: #fff;
    width: 100%;
    display: inline-block;
    overflow: scroll;
}

#container{
    display: flex;
}

.nav_left_btn {
    border: none;
    border-radius: 0px 25px 25px 0px;
    margin: 15px 15px 0px 0px;
    width: 95%;
    cursor: pointer;
    text-align: left;
    height: 50px;
    background: #fff;
}

.nav_left_btn_noselect{
    background: #fff;
}

.nav_left_btn_selected{
    background: #e8f0fe;
}

.nav_left_btn span{
    border-radius: 0px 25px 25px 0px;
    padding: 12px;
    font-size: .875rem;
    vertical-align: 25%;
}

.nav_left_btn:hover{
    background: rgb(246, 246, 246);
}


.title_txt{
    display: inline-block;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    position: relative;
    top: 20px;
    margin-left: 30px;
    padding: 8px;
    border-radius: 4px;
}

.title_txt span{
    font-size: 1.5rem;
    font-weight: bold;
}



#picup{
    animation: f_anime1 0.5s;
    margin: 0 auto;
    text-align: center;
}

#picup img{
    width:  750px;
}


@keyframes f_anime1{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}






#main_content{
    margin: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.big-100{
    font-size: 2.8rem;
    font-weight: bold;
}

#select_menu{
    border-radius: 5.5px;
    border: 1px #eee solid;
    display: inline-block;
    width: 650px;
    margin: 25px;
    text-align: center;
    
}

.select_menu_select_win{
    border-radius: 5.5px;
    padding: 25px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0px 0px 10px 0px #ddd;
    border: 1px #eee solid;
    margin: 10px;
    width: 300px;
    height: 250px;
}

.select_menu_select_win_text{
    font-size: 1.25rem;
    text-align: left;
}

.select_menu_select_win_image{
    text-align: center;
}

.select_menu_select_win_image svg{
    width: 64px;
    height: 64px;
    
}

.center_position{
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

.center_position_2{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


#nav_main_c{
    top: 0px;
    left: 0px;
    background: #fff;
    height: 64px;
    width: 100%;
    border-bottom: 1px #eee solid;
}


@media screen and (max-width: 1500px) {
    .nav_left_btn_content_box_text{
        display: none;
    }

    #nav_left{
        width: 72px;
        z-index: 999;
    }

    #nav_left_c{
        width: 72px;
    }



  }

  @media screen and (min-width:1500px) {
    .nav_left_btn_content_box_text{
        display: inline-block;
    }

    #nav_left{
        width: 30%;
        min-width: 65px;
        max-width: 350px;
        height: 100vh;
    }

    #nav_left_c{
        width: 30%;
        min-width: 65px;
        max-width: 350px;
        height: 100vh;
    }


    

}